@model WebBomba.Models.Account.LoginViewModel

@{
    ViewData["Title"] = "Вхід на сайт";
}

<h1 class="text-center">Вхід</h1>


<div class="row">
    <div class="offset-md-3 col-md-6">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-2">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Вхід" class="btn btn-primary"/>
                <a class="btn btn-link" href="@Url.Action("Register", "Account")">Перейти на сторінку реєстрації</a>
            </div>
        </form>
    </div>
</div>