@model WebBomba.Areas.Admin.Models.Category.CategoryAddViewModel

@{
    ViewData["Title"] = "Add";
}

<h1>Додати категорію</h1>

<hr />
<div class="row">   
    <div class="col-md-4">
        <form asp-action="Add" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <br />
                <label for="Image">
                    <img src="/img/upload.png" 
                        id="selectImage" 
                        alt="обрати фото" 
                        width="200" 
                        style="cursor:pointer" />
                </label>
                
                <input asp-for="Image" class="form-control d-none"/>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Повернутися назад</a>
</div>

@section Scripts {
    <script>
        let image = document.getElementById("Image");
        image.addEventListener("change", function (e) {
            let file = e.target.files[0];
            if (file) {
                document.getElementById("selectImage").src = URL.createObjectURL(file);
                //console.log("Ви обрали файл: ", file);
            }
        });
    </script>
   @*  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} *@
}
