@{
    Layout = "_SiteLayout";
}

<h1 class="text-center">Додати категорію</h1>
<ul class="text-danger">
    @Html.ValidationSummary(false)
</ul>
<form action="/Category/Add" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="name" class="form-label">Назва</label>
        <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Опис</label>
        <input type="text" class="form-control" id="description" name="description">
    </div>
    <div class="mb-3">
        <label for="image" class="form-label">Фото</label>
        <input type="file" class="form-control" id="image" name="image">
    </div>
    <button type="submit" class="btn btn-primary">Додати</button>
</form>
