@using WebBomba.Models.Category
@model List<CategoryViewModel>

<h1 class="text-center">Категорії ++</h1>


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="card">
                <img src="/images/150_@item.Image" class="card-img-top"
                     alt="Hollywood Sign on The Hill" />
                <div class="card-body">
                    <h5 class="card-title"> @item.Name</h5>
                    <p class="card-text">
                        @item.Description
                    </p>
                </div>
            </div>
        </div>
    }
</div>

