@using WebBomba.Models.Category
@model List<CategoryViewModel>
@{
    Layout = "_SiteLayout";
}

<h1 class="text-center">Категорії</h1>
<a href="/Category/Add" class="btn btn-success">Додати</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Фото</th>
            <th scope="col">Назва</th>
            <th scope="col">Опис</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Image</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
            </tr>
        }
    </tbody>
</table>
